.p-cart {
  padding: 30px;
  &__table {
    padding: 20px;
    background-color: $color-light-white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  td img {
    width: 100px;
    height: 100px;
  }
}
