.m-card {
  width: 18%;
  height: 400px;
  min-height: 350px;
  padding: 18px;
  box-shadow: $color-box-shadow-primary 0px 1px 2px 0px,
    $color-box-shadow-secondary 0px 1px 3px 1px;

  &__content {
    margin-top: 12px;
  }
  &__button {
    margin-top: 20px;
  }
}
