.m-card {
  // No width and height provided here.....
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 100px; // flex-grow flex-shrink flex-basis
  padding: 18px;
  box-shadow: $color-box-shadow-primary 0px 1px 2px 0px,
    $color-box-shadow-secondary 0px 1px 3px 1px;

  & > :nth-child(2) {
    margin-top: $margin-16;
  }

  & > :nth-child(3) {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: $margin-10;
  }

  & > :nth-child(4) {
    margin-top: $margin-10;

    margin-bottom: $margin-10;
    color: $color-deep-purple;
  }

  &__img {
    width: 250px;
    max-height: 250px;
  }
  &__button {
    margin-top: auto;
  }
}
