.m-modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-left: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-black;
  background-color: $color-primary-rgba;
  &__contents {
    background-color: $color-romance;
    margin: auto;
    padding: 100px;
    border: 1px solid $color-monsoon;
    width: 30%;
    position: relative;
    text-align: center;
    border-radius: 8px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__visible {
    display: none;
  }

  &__comboButtons {
    margin-top: 20px;
  }

  &__button {
    margin: 8px;
  }
}
