.a-icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  $icons: (
    //icon-list
    "search"
  );

  @mixin icon-shape($icon-name) {
    &--#{$icon-name} {
      background-image: url("~/assets/icons/#{$icon-name}.svg");
    }
  }

  @mixin icon-size($icon-name, $pc, $sp) {
    &--#{$icon-name} {
      width: $pc;
      height: $pc;

      @include sp() {
        width: $sp;
        height: $sp;
      }
    }
  }

  @mixin icon($name, $pc, $sp) {
    @include icon-shape($name);
    @include icon-size($name, $pc, $sp);
  }

  //declare icons
  @include icon("search", 24px, 24px);
  @include icon("edit", 16px, 16px);
  @include icon("delete", 16px, 16px);
  @include icon("cross", 16px, 16px);
  @include icon("add-to-card", 30px, 30px);
  @include icon("call", 18px, 18px);
  @include icon("location", 30px, 30px);
  @include icon("profile", 30px, 30px);

  //--------Can use this method as well for icon------------
  // @each $icon-name in $icons {
  //   &--#{$icon-name} {
  //     background: url("~/assets/icons/#{$icon-name}.svg");
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //   }
  // }
}
