.a-text {
  font-size: 16px;
  font-weight: 400;
  &--18 {
    font-size: 18px;
  }
  &--14 {
    font-size: 14px;
  }
  &--12 {
    font-size: 12px;
  }

  &--bold {
    font-weight: bold;
  }
  &--deep-purple {
    color: $color-deep-purple;
  }

  &--gray {
    color: $color-gray;
  }
}
