.a-heading {
  text-align: center;
  font-size: 28px;
  color: $color-deep-purple;

  &--24 {
    font-size: 24px;
  }
  &--20 {
    font-size: 20px;
  }
  &--16 {
    font-size: 16px;
  }

  &--left {
    text-align: left;
  }
  &--text-transform {
    text-transform: uppercase;
  }
}
