.o-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 383px;
  background: $color-gradient-primary;
  text-align: center;
  color: $color-white;

  &__contents {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .a-text {
    background-color: $color-deep-purple;
    padding: 6px;
  }

  &__title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}
