.o-carousel {
  // &__slides {
  //   position: absolute;
  // }

  &__image {
    width: 100%;
    height: 650px;
    min-height: 550px;
    object-fit: cover;
  }

  @include tab() {
    &__image {
      height: 420px;
      min-height: 360px;
    }
  }

  @include sp() {
    &__image {
      height: 260px;
      min-height: 220px;
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
}
