.a-splitField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include tab() {
    flex-wrap: wrap;
  }

  @include sp() {
    flex-direction: column;
    align-items: stretch;
  }
}
