.a-button {
  border: none;
  background: $color-deep-purple;
  color: $color-white;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &--primary {
    padding: 5px 10px;
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $color-button-hover;
    transition: transform 0.2s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  &:hover::before {
    transform: scaleY(1);
  }
}
