.o-header {
  $root: &;
  width: 100%;
  max-height: 80px;
  background: $color-gradient-primary;

  &__navbar {
    @include displayFlex(row, space-between, center);
    padding: 0px 40px;
  }

  &__brand {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: $color-white;
  }

  &__navbarNav {
    list-style: none;
  }

  &__navItem {
    display: inline-block;
    margin: 12px;
  }
  &__navLink {
    font-size: 18px;
    color: $color-white;
  }

  &--active {
    #{$root}__navItem {
      opacity: 0.7;
    }
  }
}
