.m-brands {
  width: 100%;
  padding: 0 20px;

  .swiper-slider > div {
    width: 100% !important;
    max-width: 240px;
    margin: 0 auto;
  }

  @include tab() {
    padding: 0 16px;

    .swiper-slider > div {
      max-width: 200px;
    }
  }

  @include sp() {
    padding: 0 12px;

    .swiper-slider > div {
      max-width: 160px;
    }
  }
}
