.a-grid {
  display: flex;
  align-items: flex-end;
  flex-direction: row;

  $base-width: 1100px;

  &--grid1 {
    width: calc(($base-width - 72px) / 3);
  }

  &--grid2 {
    width: calc(($base-width - 42px) / 2);
  }
}
