.a-custom-select {
  $root: &;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 16px;
    color: $color-deep-purple;
    font-weight: 400;
  }

  &__control {
    padding: 8px;
    border: none;
    box-shadow: $color-box-shadow-primary 0px 1px 2px 0px,
      $color-box-shadow-secondary 0px 1px 3px 1px;
    border-radius: 8px !important;
    margin-top: 12px;
    outline: none;
    font-size: 18px;
    color: $color-deep-purple;
    transition: opacity 0.3s, max-height 0.3s;

    &--is-focused {
      border: 1px solid $color-plum !important;
      box-shadow: none !important;
    }
  }

  &__option {
    background-color: $color-white !important;
    color: $color-deep-purple !important;
  }
}
