.p-order {
  padding: 20px;
  &__top-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0;
  }
  &__main-content {
    display: flex;
    gap: 10px;
  }
}
