.p-order-update {
  padding: 20px;
  &__top-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0;
  }
  &__main-content {
    display: flex;
    gap: 10px;
  }

  @include tab() {
    padding: 16px;

    &__top-content,
    &__main-content {
      flex-direction: column;
    }
  }

  @include sp() {
    padding: 12px;

    &__top-content {
      margin: 10px 0;
    }
  }
}
