.o-admin-header {
  background-color: rgb(0 0 0 / 4%);
  border-bottom: 1px solid $color-plum;
  padding: 16px;
  position: relative;
  &__search-content {
    background-color: $color-light-purple;
    position: absolute;
    top: 60px;
    left: 33px;
    width: 80%;
    border-radius: 15px;
    min-height: 200px;
  }
}
