.o-admin-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-plum;
  padding: 16px;
  position: relative;
  &__search-content {
    background-color: $color-light-purple;
    position: absolute;
    top: 60px;
    left: 33px;
    width: 80%;
    border-radius: 15px;
    min-height: 200px;
  }

  @include tab() {
    padding: 12px;

    &__search-content {
      left: 16px;
      width: calc(100% - 32px);
    }
  }

  @include sp() {
    padding: 10px 12px;

    &__search-content {
      left: 12px;
      width: calc(100% - 24px);
      top: 52px;
      min-height: 160px;
    }
  }
}
