.a-container {
  $root: &;
  margin-top: 40px;
  margin-bottom: 40px;

  &--30 {
    padding: 30px;
    margin: 0;
  }

  &--40 {
    padding: 40px;
  }
  &--only-top {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  &--only-bottom {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  &--no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &--auto {
    margin: 0 auto;
  }

  &--middle {
    margin: 8% calc(100% - 65%);
  }

  &--300 {
    width: 300px;
  }

  &--400 {
    width: 400px;
  }

  &--center {
    text-align: center;
  }

  &--flex {
    display: flex;
    justify-content: center;
  }

  &--withShadow {
    box-shadow: $color-box-shadow-tertiary 0px 4px 12px;
  }
}
