.a-container {
  $root: &;
  margin-top: 40px;
  margin-bottom: 40px;

  &--auto {
    margin: 0 auto;
  }

  &--middle {
    margin: 12% calc(100% - 65%);
  }

  &--300 {
    width: 300px;
  }

  &--400 {
    width: 400px;
  }

  &--center {
    text-align: center;
  }

  &--flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
