.a-search {
  position: relative;
  &__input {
    width: 130px;
    padding: 10px;
    font-size: 16px;
    color: $color-gray;
    outline: none;
    border: 1px solid $color-purple;
    border-radius: 30px;
    text-indent: 35px;
    transition: width 0.4s ease-in-out, border 0.4s ease-in-out;

    &:focus {
      width: 30%;
      border: 1px solid $color-plum;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 15px;
  }
}
