.m-table {
  overflow-x: auto;

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__heading {
    text-align: left;
    background: $color-gradient-primary;
    color: $color-white;
  }

  &__content {
    padding: 12px;
    border-bottom: 1px solid $color-cream;
  }

  &__action {
    cursor: pointer;
    margin: 3px;
  }
}
