$color-primary: #6ac47e;
$color-white: #ffffff;
$color-purple: #7c3e9e;
$color-deep-purple: #60317a;
$color-light-cream-purple: #f1eefb;
$color-light-purple: #f6f1f9;
$color-plum: #cdaee0;
$color-black: #080101;
$color-gray: #504949;
$color-red: #e96666d3;
$color-pure-red: #f23333;
$color-error-red: #f10f0f;
$color-cream: #ddd;
$color-romance: #fefefe;
$color-monsoon: #888;
$color-light-purple: rgb(240, 232, 240);
$color-primary-rgba: rgba(0, 0, 0, 0.4);
$color-button-hover: #af85c780;
$color-light-white: #f2f2f2;
$color-black-radish: #5b5854;
$color-white-gray: #f5f5f5;
$color-green-deep: #277539;
$color-toaster-green: #329844;
$color-toaster-red-progress: #bcb6b6;

//gradient color
$color-gradient-primary: linear-gradient(to right, #bdafc6, #846fc2);
$color-gradient-secondary: linear-gradient(to right, #522e6a, #846fc2);
$color-gradient-dark: linear-gradient(to right, #232526, #414345);

//box-shadow
$color-box-shadow-primary: rgba(60, 64, 67, 0.3);
$color-box-shadow-secondary: rgba(60, 64, 67, 0.15);
$color-box-shadow-tertiary: rgba(0, 0, 0, 0.08);
$color-box-shadow-card: rgba(0, 0, 0, 0.16) 0px 3px 6px,
  rgba(0, 0, 0, 0.23) 0px 3px 6px;

$box-shadow-container: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$box-shadow-card-payment: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
