$color-primary: #6ac47e;
$color-white: #ffffff;

//gradient color
$color-gradient-primary: linear-gradient(to right, #76b852, #8dc26f);

//box-shadow
$color-box-shadow-primary: rgba(60, 64, 67, 0.3);
$color-box-shadow-secondary: rgba(60, 64, 67, 0.15);
