.t-layout {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  &__main {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-top: 90px;
  }

  &__add-to-card-link {
    text-decoration: none;
    color: inherit;
  }

  &__add-to-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: $color-purple;
    top: 90px;
    right: 0;
    width: 70px;
    height: 65px;
    z-index: $z-index-medium;
    cursor: pointer;
    box-shadow: -4px 4px 16px rgba(96, 49, 122, 0.2);
  }

  &__add-to-card-content {
    position: absolute;
    top: 4px;
    left: 5px;
    background-color: $color-white;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 6px;
    color: $color-deep-purple;
    font-weight: 700;
  }

  @include tab() {
    &__main {
      padding-top: 80px;
    }

    &__add-to-card-icon {
      top: 90px;
      width: 56px;
      height: 52px;
    }
  }

  @include sp() {
    &__main {
      padding-top: 70px;
    }

    &__add-to-card-icon {
      top: 78px;
      right: 8px;
      width: 48px;
      height: 44px;
    }

    &__add-to-card-content {
      width: 20px;
      height: 18px;
      font-size: 12px;
    }
  }
}
