.a-note {
  width: 100%;
  padding: 20px;
  color: $color-white;
  background-color: $color-gray;
  text-align: center;

  &--green {
    background-color: $color-primary;
  }

  &--danger {
    background-color: $color-red;
  }
}
