.m-banner-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  &__img {
    border-radius: 4px;
    width: 100%;
    height: auto;
  }
  &__left-banner {
    // width: 50%;
  }
  &__right-banners,
  .m-banner__right-banners {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @include tab() {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    &__left-banner,
    &__right-banners,
    .m-banner__right-banners {
      width: 100%;
      max-width: 600px;
    }
  }

  @include sp() {
    padding: 0 12px;
    gap: 12px;

    &__left-banner,
    &__right-banners,
    .m-banner__right-banners {
      max-width: 100%;
    }
  }
}
